@{
    ViewBag.Title = "Kontakt";
}
<p class="display-4 text-center">@ViewBag.Title</p>
<hr />

<address>
    <p>Adipiscing elit fusce vel sapien elit.</p>
    <p>In malesuada semper mi, id sollicitudin.</p>
    <p>Urna fermentum ut fusce varius nisl.</p>
    <p>Ac ipsum gravida vel pretium tellus.</p> 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@suplesklep.pl">Support@suplesklep.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@suplesklep.pl">Marketing@suplesklep.pl</a>
</address>