@model IEnumerable<InzSklep.Models.Category>
@using InzSklep.Infrastructure


<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("List","Store", new { categoryname = category.Name.ToString() })"
               @*style="background: no-repeat url(@Url.CategoryIconsPath(category.CatIconFileName))";*@>
                @category.Name
            </a>
            <span class="badge">@category.Products.Count()</span>

        </li>
    }
</ul>